[submodule "fritzing-app"]
	path = fritzing-app
	url = https://github.com/fritzing/fritzing-app
[submodule "fritzing-parts"]
	path = fritzing-parts
	url = https://github.com/fritzing/fritzing-parts
[submodule "libgit2"]
	path = libgit2
	url = https://github.com/libgit2/libgit2.git
